.sucuriscan_header {
    background: #333;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    height: 38px;  
    padding: 10px;
}

.sucuriscan_header img {
    float: left;
    width: 101px;
    height: 38px;
}

.wrap .sucuriscan_header h2 {
    color: #fff;
    float: left;
    padding: 3px 0 0;
    margin-left: 10px;
    text-shadow:#000 0 1px 0;    
}

#sidebar {
    padding-top: 10px;
    
}

#sidebar .sucuriscan-sidebar {
    border:1px solid #CCCCCC;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    margin:0 0 10px;
    padding:10px 15px;
}


#sitecleanup.sucuriscan-sidebar {
    background-color:#bbe8f5;
    border-color:#4393ac;
}

